<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit form</title>
</head>

<body>
  <div id="build-wrap"></div>
  <button id="saveData" > getData </button>
  <button id="prePage"><a href="/user">show form</a></button>
  <div>
    <h3>Already Created Forms</h3>
    <select id="selectForms" >
      <option onclick="forData()">Created forms</option>
    </select>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://formbuilder.online/assets/js/form-builder.min.js"></script>
  
  <script>
    var fbEditor = document.getElementById('build-wrap');
    var templateSelect = document.getElementById("forms");
    var formBuilder = $(fbEditor).formBuilder();
    let formDataArray = [];
    jQuery(function ($) {
      async function getData() {

      let headersList = {
        "Content-Type": "Application/json"
      }
      // let response = await fetch("https://"+window.location.host+"/view", {
      let response=await fetch("http://localhost:5000/view",{
        method: "GET",
        headers: headersList
      });
      
      let data = await response.json();
      // console.log(formDataArray);
      for (let i=0 ; i<data.length; i++){
        // console.log(data[i].data);
        formDataArray.push(data[i].data)
      }
      formBuilder.actions.setData(formDataArray[0]);
      // return(formDataArray)
    }
      getData()

   
    })
    var select =document.getElementById("selectForms")
    var options = ["form1", "form2", "form3"];
    async function setsData() {  
    //  console.log(formData);
     for(var i = 0; i < options.length; i++) {
        var opt = options[i];
        var el = document.createElement("option");
        el.textContent = opt;
        el.value = opt;
        select.appendChild(el);
    }
  }
     setsData()
  // async function forData(){
  //   console.log(formDataArray);
  //   console.log(options);
  //   if(formDataArray[i]=options[i]){
  //     console.log();
  //     formBuilder.actions.setData(formDataArray[i])
  //   }
  // }
  // forData()

  </script>
</body>

</html>