<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit form</title>
</head>

<body>
  <div id="build-wrap"></div>
  <div id="saveData"><button id="saveData" > getData </button></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://formbuilder.online/assets/js/form-builder.min.js"></script>

  <script>
    var fbEditor = document.getElementById('build-wrap');
    var formBuilder = $(fbEditor).formBuilder();
    jQuery(function ($) {
      async function getData() {

      let headersList = {
        "Content-Type": "Application/json"
      }

      let response = await fetch("https://"+ window.location.host +"/view", {
        method: "GET",
        headers: headersList
      });

      let data = await response.json();
      console.log(data[0].data);
      formBuilder.actions.setData(data[0].data)


      return (data[0].data)
    }
      

      getData()

    })

    
  </script>

</body>

</html>