<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo list</title>
</head>
<body>
    <h1>To do list</h1>

    <form method='POST'>
        <input type="text" name="task">
        <button type="submit" value = "submit">create</button>
    </form>
    <h3> here you can read your tasks!!!</h3>
    
           
    <form>
        <table>
        {%for item in task %}
            <tr>
            <td>
                {{item.task}}
                <button><a href="/delete_todo/{{item._id}}">Delete</a></button>
                <input type="text" name="task" ><a href="/update_todo/{{item._id}}">update</a>
                <!-- <input type="submit" value="update"> -->
                <!-- <button><a href="/update_todo/{{item._id}}">update</a></button> -->
            </td>
            </tr>
            
        {%endfor%}


        
    </table>
    </form>
</body>
</html>